* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: #000;
    color: #FFF;
    font-family: 'Public Sans', sans-serif;
    padding: 4rem;
}

.container {
    max-width: 900px;
    margin: 0 auto;
    display: flex;
    gap: 3rem;
}

.heading {
    position: relative;
    width: 30%;
}

.heading h1 {
    position: relative;
    margin: 0 auto;
    font-size: 120px;
    line-height: 113px;
    font-weight: 900;
    writing-mode: vertical-rl;
    text-align: right;
    transform: rotate(180deg);
    text-transform: uppercase;
    color: transparent;
    -webkit-text-stroke: 2px #FF0000;
}

.text {
    flex: 1;
    font-size: 16px;
    line-height: 32px;
    font-weight: 100;
    padding-top: 1rem;
}