* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    position: relative;
    font-family: 'Inter', sans-serif;
    height: 100vh;
    overflow-x: hidden;
}

.container {
    width: 440px;
    height: 67px;
    background: #00FF2F;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 3rem;
    right: -9rem;
    transform: rotate(45deg);
}