* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    position: relative;
    font-family: 'Inter', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.container {
    width: 50%;
}

.scroll-indicator {
    position: fixed;
    top: 0;
    left: 0;
    width: 0%;
    height: 0.15rem;
    background: red;
    z-index: 10;
}