* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Inter', sans-serif;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.container {
    position: relative;
    width: 1100px;
}

.container p {
    position: relative;
    font-size: 117px;
    line-height: 104px;
    font-weight: bold;
    background: linear-gradient(180deg, transparent 50%, #00FBFF 50%);
    display: inline;
}

.container p:hover {
    background: linear-gradient(180deg, #00FBFF 50%, #00FBFF 50%);
    display: block;
}